<main>
    @if (showResponseModal) {
        <app-modal [text]="responseModalMsg">
            <div #modalDiv>
                <button (click)="closeResponseModal()" class="modal-btn">Ok</button>
            </div>
        </app-modal>
    } @else {
        @if (showDeleteModal) {
            <app-modal [text]="'Czy na pewno chcesz usunąć ten kontakt (na zawsze!)?'">
                <div #modalDiv>
                    <button (click)="cancel()" class="modal-btn">Nie</button>
                    <button (click)="confirm()" class="modal-btn">Tak</button>
                </div></app-modal>
        } @else {
            @if (errorMsg === '') {
                <div class="container">
                    <div><strong>ID: </strong> {{contact.id}}</div> 
                    <div><strong>Imię:</strong> {{contact.firstName}}</div>
                    <div><strong>Nazwisko:</strong> {{contact.lastName}}</div>
                    <div><strong>Adres email:</strong> {{contact.email}}</div> 
                    <div><strong>Hasło:</strong> {{contact.password}}</div> 
                    <div><strong>Kategoria:</strong> {{contact.categoryName}}</div>
                    @if (contact.subCategoryName && contact.subCategoryName.trim() !== '') {
                        <div><strong>Podkategoria:</strong> {{contact.subCategoryName}}</div>
                    }
                    <!-- TODO pipe do ładniejszego numeru telefonu -->
                    <div><strong>Numer telefonu:</strong> {{contact.phoneNumber}}</div>
                    <!-- TODO polski pipe do daty -->
                    <div><strong>Data urodzenia: </strong>{{contact.dateOfBirth | date}}</div> 
                </div>
                @if(isLoggedIn){
                    <div>
                        <button (click)="showModal()">Usuń kontakt</button>
                        <button (click)="goToEditContact()">Edytuj kontakt</button>
                    </div>
                }
            } @else {
                <div>{{errorMsg}}</div>
            }
        }
    }
    <button (click)="goBack()">Wróć</button>
</main>