<main>
    @if (showResponseModal) {
        <app-modal [text]="responseModalMsg">
            <div #modalDiv>
                <button (click)="closeResponseModal()" class="modal-btn">Ok</button>
            </div>
        </app-modal>
    } @else {
        @if (showDeleteModal) {
            <app-modal [text]="'Czy na pewno chcesz usunąć ten kontakt (na zawsze!)?'">
                <div #modalDiv>
                    <button (click)="cancel()" class="modal-btn">Nie</button>
                    <button (click)="confirm()" class="modal-btn">Tak</button>
                </div></app-modal>
        } @else {
            @if (errorMsg == '') {
                <div class="container">
                    <div>{{contact.id}}</div> 
                    <div>{{contact.firstName}}</div>
                    <div>{{contact.lastName}}</div>
                    <div>{{contact.email}}</div> 
                    <div>{{contact.password}}</div> 
                    <div>{{contact.category}}</div>
                    @if (contact.subCategory) {
                        <div>{{contact.subCategory}}</div>
                    }
                    <div>{{contact.phoneNumber}}</div>
                    <!-- TODO pipe do daty -->
                    <div>{{contact.dateOfBirth}}</div> 
                </div>
                @if(isLoggedIn){
                    <div>
                        <button (click)="showModal()">Usuń kontakt</button>
                        <button (click)="goToEditContact()">Edytuj kontakt</button>
                    </div>
                }
            } @else {
                <div>{{errorMsg}}</div>
            }
        }
    }
    <button (click)="goBack()">Wróć</button>
</main>