main {
    width: 100%;
    display: flex;
    justify-content: center;

    .container {
        width: 80%;

        .title {
            font-size: 60px;
        }

        ul {
            list-style-type: none;
        }
    }
}