<main>
    <div class="container">
        <form [formGroup]="loginForm" (ngSubmit)="onSubmit()" class="form">
            <div class="item">
                <label for="name">Nazwa użytkownika:</label>
                <input type="text" id="name" formControlName="username" placeholder="Nazwa użytkownika...">
                @if (loginForm.get('username')?.touched && loginForm.get('username')?.hasError('required')) {
                    <div class="error">
                        Wymagana nazwa użytkownika
                    </div>
                }
            </div>
            
            <div class="item">
                <label for="password">Hasło:</label>
                <input type="{{showPassword ? 'text' : 'password'}}" id="password" formControlName="password" placeholder="Hasło...">
                @if (loginForm.get('password')?.touched && loginForm.get('password')?.hasError('required')) {
                    <div class="error">
                        Wymagane hasło
                    </div>
                }
                <button type="button" (click)="togglePassword()">{{showPassword ? "Ukryj hasło" : "Pokaż hasło"}}</button>
            </div>
            
            @if(errorMsg) {
                <div class="error">{{errorMsg}}</div>
            }

            <button type="submit">
                Zaloguj się
            </button>
            
            <div class="item">
                <div>Jeśli nie masz konta:</div>
                <button type="button" (click)="goToRegister()">Zarejestruj się</button>
            </div>
            <button type="button" (click)="goBack()">Wróć</button>
        </form>
    </div>
</main>